* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.4%;
}

.container {
	display: flex;
	justify-content: center;
}

.grid {
	/* margin: auto; */
	width: 20rem;
	height: 40rem;
	background-color: yellow;

	display: flex;
	flex-wrap: wrap;
}

.grid div {
	/* border: 1px solid black; */
	height: 2rem;
	width: 2rem;
}

.tetrimino {
	width: 20rem;
	height: 40rem;
	background-color: blue;
}

.mini-grid {
	width: 8rem;
	height: 8rem;
	margin-left: 5rem;
	background-color: yellow;

	display: flex;
	flex-wrap: wrap;
}

.mini-grid div {
	width: 2rem;
	height: 2rem;
}
